body
{
    background-color:rgb(167, 215, 249);
}
input
{
    color:black;
    font-family: monospace;
    font-size: 20px;
    font-style:inherit;
    background-color:lightsteelblue;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
input.Notes
{
    color:black;
    font-family: monospace;
    font-size: 15px;
    font-style: inherit;
    background-color: lightsteelblue;
    font-weight: bolder;
    text-align: center;
}
input.Logins
{
    color: black;
    font-family: monospace;
    font-size: 15px;
    font-style: inherit;
    background-color: powderblue;
    font-weight: bolder;
    text-align: center;
}
label
{
    font-size: 30px;
    font-style: bold;
    height: 30px;
    width: 500px;
}